extends layout

block content
  div(class='columns')
    div(class='column is-one-quarter')
      aside(class='menu')
        p(class='menu-label') Transactions
        ul(class='menu-list')
          li #[a(href='/balance') Balance]
          li #[a(href='/deposit') Deposit]
          li #[a(href='/withdraw') Withdraw]
          li #[a(href='/history') Transaction History]
        p(class='menu-label') Account
        ul(class='menu-list')
          li #[a(href='/account', class='is-active') Account Settings]
          li #[a(href='/personal') Personal Information]
          li #[a(href='/logout') Logout]
    div(class='column')
      div(class='content')
        h1 Change Password
        if error
          div(class='notification is-danger')
            button(class='delete')
            | #{error}
        else if success
          div(class='notification is-success')
            button(class='delete')
            | #{success}
        form(method='post')
          div(class='field')
            label(class='label') Current Password
            input(type='password', class='input', name='current')
          div(class='field')
            label(class='label') New Password
            input(type='password', class='input', name='new')
          div(class='field')
            label(class='label') Confirm Password
            input(type='password', class='input', name='confirm')
          div(class='field')
            input(type='submit', class='button is-success', value='Update')

block footer
  div(class='content has-text-centered')
    small You are logged in as <strong>#{user.email}</strong> || Copyright &copy; 2018 ACME Banking Corp.
